@media screen and ( max-width:576px ){
  /* navbar */
  #nav-container{
    margin: 20px;
    height: auto;
  }

  .nav-items{
    display: none;
  }
  .menu-icon{
    display: block;
  }
  /* banner */
  #banner-container{
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    height: auto;
    margin: 20px;
  }
  .banner-content-title{
  font-size: 2.25rem;
  margin-bottom: 20px;
  
}
.shape-style{
  font-size: 2.25rem;
  
}
  .button-container{
    display: flex;
    flex-direction: column;
    gap: 14px;
    justify-content: center;
    align-items: center;
  }
   .banner-image{
  background-position: center; 
}

  /* habit section */
  #habits-section{
    height: auto;
}
  .habits-container{
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
  }

  /* runnig-tips section start hare */
#runing-tips-section{
  flex-direction: column;

}
.runing-tips-content{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}
.runing-tips-content .section-description{
  text-align: left;
  margin-left: 20px;
}
.runing-tips-content .btn-primary{
 /* width:calc( 100% - 34px ); */
 margin: 10px;
 margin-top: 20px;
}
/* exercise section */
#training-section > .section-main-title{
  margin-left: 20px;
  font-size: 2rem;
}
#training-section > .section-description{
 margin-left: 20px;
}
.training-container{
  grid-template-columns: repeat(2,1fr);
  margin-top: 50px;
}
.image-3{
  display: none;
}
.image-6{
  display: none;
}

/* BMI section start hare */
#BMI-section{
  margin-top: 32px;
}

#BMI-section .section-main-title{
  font-size: 2rem;

}

.BMI-container{
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 42px;
  margin-top: 32px;
}
.BMI-calculator-chart{
  margin: 34px 60px 0px 20px;
}
.calculate-your-bmi{
  margin: 0px 20px 20px 20px;
}
#weight, #height, #age, #sex,#activity{
 padding: 13px 30px 13px 20px;

}
.BMI-calculator-title{
  font-size: 1rem;
  margin-bottom: 23px;
}
.BMI-calculator-title1{
  font-size: 1rem;
  
}
/* BMI section ends hare */
/* our team section */
#our-team .section-description{
  text-align: left;
  margin-left: 42px;
}
#our-team .section-main-title{
  font-size: 2rem;
}
.our-team-container{
  grid-template-columns: repeat(1,auto);
  justify-items: center;
  row-gap: 10px;
  margin-top: 30px;
}
/* our package section */
.our-packages-container{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.package{
  width: 100%;
}
.package-img{
  
  margin: 0 auto;
}
.package-description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.package-prize{
  gap: 20px;
}
/* footer section */
#footer-section{
  flex-direction: column;
  margin: 0px 20px 0px 20px;
}
.footer-title{
  width: 100%;

}
.footer-nav{
 width: 100%;

}
.our-services{
  width: 100%;
}

}