@media screen and (min-width:577px) and (max-width:992px) {
  #nav-container{
    flex-direction: column;
    gap: 30px;
    height: auto;
  }
   /* banner */
  #banner-container{
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    height: auto;
    margin: 20px;
  }
  .banner-content-title{
  font-size: 2.25rem;
  margin-bottom: 20px;
  
}
.shape-style{
  font-size: 2.25rem;
  
}
  .button-container{    
    text-align: center;
    gap: 30px;
  }
 /* habits seciton */
  .habits-container{
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    height: auto;
    
  }
    /* runnig-tips section start hare */
#runing-tips-section{
  flex-direction: column;

}
.runing-tips-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.runing-tips-content .section-description{
  text-align: left;
  margin-left: 20px;
}
.runing-tips-content .btn-primary{
 /* width:calc( 100% - 34px ); */
 margin: 10px;
 margin-top: 20px;
}

/* exercise section */
#training-section > .section-main-title{
  margin-left: 20px;
}
#training-section > .section-description{
 margin-left: 20px;
}
}